@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Quicksand&family=Rajdhani&display=swap');


/* GERAL */

body{
  margin:0;
  padding:0;
  color: #000000;
  font-family: sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

section.module.parallax h1{
  text-align: center;
  z-index: 50;
  
 }

/* CORPO DO SITE */

h1, .arrow, .arrow1{
  font-size: 5rem;
  color: #EB5200;
  font-family: 'Major Mono Display', monospace;
  margin-left: 1rem;
   margin-top: 5rem;

  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  
}



@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

main{
  display: block;
  background-color: #EB7900;
}

/* .name{
  margin-left: 5rem;
  font-size: 80px;
  margin-top: 5rem;
  
} */


.scroll{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 5rem; */
  background-color: transparent;
  margin-left: 50rem;
  margin-bottom: 80rem;
}

.arrow{
  font-size: 1.5rem;
  font-family: 'Major Mono Display', monospace;
  color: #EB5200;
  font-weight: 900;
  
}

.arrow1{
  font-size: 5rem;
  font-family: 'Major Mono Display', monospace;
  color: #EB5200;
  font-weight: 900;
  transform: rotate(180deg);
  margin-bottom: 3rem;
}

.container1{
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

}

.text-1{
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-sites{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 position: relative;
 width: 100%;
 height: 100%;
 margin-bottom: 20px;
 gap: 20px;

}

.photo{
  border-radius: 50%;
  border-color:3px solid #000000;
  width: 340px;
  height: 340px;
  margin-left: 570px;
}

.site{
width: 550px;
height: 280px;
border-radius: 3%;
object-fit: cover;

}

input[type=radio]{
  display: none;
}

.card{
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;

}



/* .site:hover{
  transform: scale(1.1);
  transition: 0.8s;
} */

.container2{
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-2{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif; 
  color: #000000;
  font-weight: 900;
}

.lista1{
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 150px;
  margin: 100px;
  font-size: 35px;
  font-family: 'Rajdhani', sans-serif;
  color: #FFAA00;
  font-weight: 700;
  letter-spacing: 2px;
  
}

.lista2{
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 150px;
  margin: 100px;
  font-size: 35px;
  font-family: 'Rajdhani', sans-serif;
  color: #FFAA00;
  font-weight: 700;
  letter-spacing: 2px;
  
}


.skills{
  gap: 5px;
  margin: 10px;
  letter-spacing: 2px;
    
}


.container3{
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container4{
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.mid-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 15rem;
}

.form-main{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.email-user{
  height: 1.9rem;
  width: 16rem;
}

.email{
  width: 20px;
  height: 15px;
  margin-bottom: 14px;
  margin-right: 5px;
  
}

.form1{
  background: #2d1600;
  color: #EB7900;
  font-weight: 900;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif; 
  border: none;
  margin: 1.3rem;
  text-align: center;
  
}

.form-box{
  margin-bottom: 5rem;
}

.box-text{
  height: 20rem;
  width: 30rem;
  font-weight: 700;
}

.btn-form{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d1600;
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif; 
  border: 2px #FFAA00;
  color: #EB7900;
  transition: 0.8s;
  cursor: pointer;

}

.btn-form:hover{
  border: 2px #2d1600;
  color: #2d1600;
  background-color: #EB7900;
  transition: 0.8s;
  
}

.form-text-frase{
  font-size: 25px;
  font-family: 'Quicksand', sans-serif; 
  color: #000000;
  font-weight: 900;
  
}

.form-text{
  font-size: 20px;
  font-family: 'Quicksand', sans-serif; 
  color: #000000;
  font-weight: 900;
}
.text-3{
  font-size: 20px;
  font-family: 'Major Mono Display', monospace;
  font-weight: 700;
  animation: .8s shake infinite alternate;

}

.text-end{
  animation: .8s shake infinite alternate;
}

.text-end-container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
  font-weight: 700;

  
}


.icon{
  gap: 30px;
  position: relative;
  letter-spacing: 6px;
  font-size: 10vw;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  animation: .8s shake infinite alternate;

}

@keyframes shake {
  0% { transform: skewX(-10deg); }
  5% { transform: skewX(10deg); }
  10% { transform: skewX(-10deg); }
  15% { transform: skewX(10deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

section.module p{
  margin-bottom: 30px;
}

section.module:last-child{
  margin-bottom: 0;
}

section.module h2{
  margin-bottom: 40px;
  font-size: 30px;
}

section.module.content{
 padding: 40px 0;
 background: #EB7900; 
}

/* EFEITO PARALAX */

section.module.parallax{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; /*Efeito Paralax*/
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.parallax:after{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 8;
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 70%, #000 100% );
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 70%, #000 100% );
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 70%, #000 100% );
}

/* SCROLL REVEAL */

/* .formulario .container1, .container2, .container3, .text-frase, .text-end-container, .text-1, .lista1, .lista2{
  visibility: hidden;
} */

/* BACKGROUD PARALAX */

section.module.parallax-1{
  background-image: url("imagens/wallpaperflare.com_wallpaper\ 2.jpg");
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  
}


section.module.parallax-2{
  background-image: url("imagens/back.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  
}

section.module.parallax-3{
  background-image: url("imagens/js.jpg");
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  
}

/* MEDIA QUERY */

/* dispositivel móvel */

@media screen and (max-width: 480px){
  section.module h2 {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    .photo{
      margin-left: 20px;
      width: 150px;
      height: 150px;
  }

  .midBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  
  .text-3{
    font-size: 12px;
  }

  .text-end{
    font-size: 12px;
  }
}

@media all and (max-width: 910px)  {
  section.module h2, section.module.parallax-1 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .name{
    font-size: 30px;
    margin: 20px;
    padding:20px;
  }

  .arrow, .arrow1{
    align-items: center;
    justify-content: center;
  }

  .img-sites{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .module h2, p{
    padding: 0 3px;
  }
  .photo{
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 0px;
  }

  .container{
    margin:0;
    padding:0;
  }   

  section.module.parallax-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 5px;
  }

  .skills{
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  .lista-titulo{
    font-size: 30px;
  }

  .lista1{
    margin: 10px;
    gap:10px
  }

  .lista2{
    margin: 10px;
    gap: 10px;
    color: white;
  }

  section.module.parallax-1{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .text-3{
    font-size: 12px;
  }

  .text-end{
    font-size: 12px;
  }
}



@media all and (max-width: 599px)  {
  section.module h2, section.module.parallax-1 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
  }

  .arrow, .arrow1{
    align-items: center;
    justify-content: center;
  }

  .name{
    font-size: 30px;
    margin: 40px;
    padding:20px;
  }

  .site{
    width: 190px;
    height: 150px;
  }

  .img-sites{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .module h2, p{
    padding: 0 3px;
  }
  .photo{
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-left: 0px;
  }

  .container{
    margin:0;
    padding:0;
  }   

  section.module.parallax-1{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.module.parallax-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 5px;
    
       
  }

  .skills{
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  .lista-titulo{
    font-size: 30px;
  }

  .lista1{
    margin: 10px;
    gap:10px
  }

  .lista2{
    margin: 10px;
    gap: 10px;
    color: white;
  }

  .text-3{
    font-size: 12px;
  }

  .text-end{
    font-size: 12px;
  }
}


/* Estilos padrão */

/* ... (seu código existente) ... */

/* Responsividade para telas até 425px */
@media screen and (max-width: 425px) {
  .mid-box {
    flex-direction: column;
  }

  .formulario {
    margin-right: 0;
  }

  .email-user {
    width: 100%;
  }

  .container2 {
    max-width: 100%;
    padding: 0 10px;
  }

  .lista1,
  .lista2 {
    text-align: center;
  }

  .box-text{
    width: 300px;
    height: 150px;
  }

  .emaill{
    width: 350px;
    height: 30px;
  }

  .text-2, .form-text, .box-text{
    font-size: 16px;
  }

  
}

/* Responsividade para telas até 768px */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .formulario {
    margin-right: 0;
  }

  .form-main{
    flex-direction: column;
  }

  .container2 {
    max-width: 100%;
    padding: 0 10px;
  }

  .lista1,
  .lista2 {
    text-align: center;
  }

  .box-text{
    width: 300px;
    height: 150px;
  }

  .emaill{
    width: 200px;
    height: 30px;
  }
}

/* HEADER */

@media screen and (max-width: 425px) {
  h1 {
    font-size: 3rem;
    margin-left: 0.5rem;
  }

  .scroll {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3rem;
  }

  .arrow {
    font-size: 1rem;
  }

  .arrow1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .scroll {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4rem;
  }

  .arrow1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }

  .scroll {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5rem;
  }

  .arrow1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Adicione ajustes específicos, se necessário */
}


/* FOOTER */

@media screen and (max-width: 425px) {
  .container3,
  .container4 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .container3,
  .container4 {
    max-width: 100%;
    padding: 0 10px;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container3,
  .container4 {
    max-width: 100%;
    padding: 0 20px;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Adicione ajustes específicos, se necessário */
}

